

<form name="QuoteForm">
		<h1>My list of Quotes</h1>
					
		<md-content class="md-no-momentum">
			
			<md-input-container class="md-icon-float md-block">
				<label>It is certain </label>
		      	
      			<input required ng-model="user.quote1" name="quote1" type="text">

	      		<div ng-messages="loginForm.quote.$error">
		          <div ng-message="required">Please enter a Quote</div>
		        </div>
			</md-input-container>

			<md-input-container class="md-icon-float md-block">
				<label>It is decidedly so</label>
		      	
      			<input required ng-model="user.quote2" name="quote2" type="text">

	      		<div ng-messages="loginForm.quote.$error">
		          <div ng-message="required">Please enter a Quote</div>
		        </div>
			</md-input-container>
			
			<md-input-container class="md-icon-float md-block">
				<label>Without a doubt</label>
		      	
      			<input required ng-model="user.quote3" name="quote3" type="text">

	      		<div ng-messages="loginForm.quote.$error">
		          <div ng-message="required">Please enter a Quote</div>
		        </div>
			</md-input-container>

			<md-input-container class="md-icon-float md-block">
				<label>Yes definitely</label>
		      	
      			<input required ng-model="user.quote4" name="quote4" type="text">

	      		<div ng-messages="loginForm.quote.$error">
		          <div ng-message="required">Please enter a Quote</div>
		        </div>
			</md-input-container>

			<md-input-container class="md-icon-float md-block">
				<label>You may rely on it</label>
		      	
      			<input required ng-model="user.quote5" name="quote5" type="text">

	      		<div ng-messages="loginForm.quote.$error">
		          <div ng-message="required">Please enter a Quote</div>
		        </div>
			</md-input-container>

			<md-input-container class="md-icon-float md-block">
				<label>As I see it, yes</label>
		      	
      			<input required ng-model="user.quote6" name="quote6" type="text">

	      		<div ng-messages="loginForm.quote.$error">
		          <div ng-message="required">Please enter a Quote</div>
		        </div>
			</md-input-container>
			
			<md-input-container class="md-icon-float md-block">
				<label>Most likely</label>
		      	
      			<input required ng-model="user.quote7" name="quote7" type="text">

	      		<div ng-messages="loginForm.quote.$error">
		          <div ng-message="required">Please enter a Quote</div>
		        </div>
			</md-input-container>

			<md-input-container class="md-icon-float md-block">
				<label>Outlook good</label>
		      	
      			<input required ng-model="user.quote8" name="quote8" type="text">

	      		<div ng-messages="loginForm.quote.$error">
		          <div ng-message="required">Please enter a Quote</div>
		        </div>
			</md-input-container>

			<md-input-container class="md-icon-float md-block">
				<label>Yes</label>
		      	
      			<input required ng-model="user.quote9" name="quote9" type="text">

	      		<div ng-messages="loginForm.quote.$error">
		          <div ng-message="required">Please enter a Quote</div>
		        </div>
			</md-input-container>

			<md-input-container class="md-icon-float md-block">
				<label>Signs point to yes</label>
		      	
      			<input required ng-model="user.quote10" name="quote10" type="text">

	      		<div ng-messages="loginForm.quote.$error">
		          <div ng-message="required">Please enter a Quote</div>
		        </div>
			</md-input-container>
			
			<md-input-container class="md-icon-float md-block">
				<label>Reply hazy try again</label>
		      	
      			<input required ng-model="user.quote11" name="quote11" type="text">

	      		<div ng-messages="loginForm.quote.$error">
		          <div ng-message="required">Please enter a Quote</div>
		        </div>
			</md-input-container>

			<md-input-container class="md-icon-float md-block">
				<label>Ask again later</label>
		      	
      			<input required ng-model="user.quote12" name="quote12" type="text">

	      		<div ng-messages="loginForm.quote.$error">
		          <div ng-message="required">Please enter a Quote</div>
		        </div>
			</md-input-container>

			<md-input-container class="md-icon-float md-block">
				<label>Better not tell you now</label>
		      	
      			<input required ng-model="user.quote13" name="quote13" type="text">

	      		<div ng-messages="loginForm.quote.$error">
		          <div ng-message="required">Please enter a Quote</div>
		        </div>
			</md-input-container>

			<md-input-container class="md-icon-float md-block">
				<label>Cannot predict now</label>
		      	
      			<input required ng-model="user.quote14" name="quote14" type="text">

	      		<div ng-messages="loginForm.quote.$error">
		          <div ng-message="required">Please enter a Quote</div>
		        </div>
			</md-input-container>
			
			<md-input-container class="md-icon-float md-block">
				<label>Concentrate and ask again</label>
		      	
      			<input required ng-model="user.quote15" name="quote15" type="text">

	      		<div ng-messages="loginForm.quote.$error">
		          <div ng-message="required">Please enter a Quote</div>
		        </div>
			</md-input-container>

			<md-input-container class="md-icon-float md-block">
				<label>Do not count on it</label>
		      	
      			<input required ng-model="user.quote16" name="quote16" type="text">

	      		<div ng-messages="loginForm.quote.$error">
		          <div ng-message="required">Please enter a Quote</div>
		        </div>
			</md-input-container>

			<md-input-container class="md-icon-float md-block">
				<label>QMy reply is no</label>
		      	
      			<input required ng-model="user.quote17" name="quote17" type="text">

	      		<div ng-messages="loginForm.quote.$error">
		          <div ng-message="required">Please enter a Quote</div>
		        </div>
			</md-input-container>

			<md-input-container class="md-icon-float md-block">
				<label>Fogetaboutit</label>
		      	
      			<input required ng-model="user.quote18" name="quote18" type="text">

	      		<div ng-messages="loginForm.quote.$error">
		          <div ng-message="required">Please enter a Quote</div>
		        </div>
			</md-input-container>
			
			<md-input-container class="md-icon-float md-block">
				<label>Outlook not so good</label>
		      	
      			<input required ng-model="user.quote19" name="quote19" type="text">

	      		<div ng-messages="loginForm.quote.$error">
		          <div ng-message="required">Please enter a Quote</div>
		        </div>
			</md-input-container>

			<md-input-container class="md-icon-float md-block">
				<label>Very doubtful</label>
		      	
      			<input required ng-model="user.quote20" name="quote20" type="text">

	      		<div ng-messages="loginForm.quote.$error">
		          <div ng-message="required">Please enter a Quote</div>
		        </div>
			</md-input-container>



			<md-button class="md-raised md-primary login-button" ng-click="loginHandler()" ng-disabled="loginForm.$pristine || loginForm.$invalid">Save</md-button>
		</md-content>

	</form>
